@import 'tailwindcss';

@layer base {
  html {
    box-sizing: border-box;
    background-color: black;
    height: screen;
    margin: auto;
    color: white;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
  }
    .scrollbar {
    -ms-overflow-style: none;
    scrollbar-color: var(--color-red-500) transparent;
  }
}
